*{
    padding: 0;
    margin:0;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;

}



.small-title{
    font-size: .9em;
    color: green;
}

.section-title{
    font-size: 1.8em;
    padding: 1.5em 0;
    width: 20em;
}


.wrapper{
    padding: 0 13em;
    /* border: 10px solid rgb(187, 255, 0); */
    
}

.first-section{
    height: 60em;
    background: rgb(116, 102, 102);
    margin-top: -8em;
    background-image: url('../img/main-img.jpg');
    background-size: cover;
    background-position-y: bottom;
}


    /*HEADER*/

.first-header{
    height: 4em;
    width:100%; 
    /* border: 3px solid red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    font-weight: 600;
    background-color: black;
}
.first-header .hours{
    width: 13em;
    height: 2.5em;
    /* border: 3px solid greenyellow; */
    
}
.first-header .hours p{
    font-size: .8em;
}
.first-header .call-us{
    width: 13em;
    height: 2.5em;
    /* border: 3px solid blue; */
}

.header-bg{
    background: #000;
    position: relative;
    opacity: 0.8;

}

.logo{
    height: auto;
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
}

.logo img{
    margin-right: .5em;
}

.logo span{
    font-size: 1.5em;
}

.call-us p{
    font-size: .8em;
}
.btn{
    height: 2.5em;
    background-color: white;
    border: none;
    box-shadow: ;
    border-radius: .2em;
    padding: 0 1em;
    font-weight: 500;
    text-transform: uppercase;
    font-weight: 500;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
}
nav{
    position: sticky;
    top: 0;
    font-size: 1.2em;
    font-weight: 600;
}

.sticky-header{
    z-index: 1;
    height: 4em;
    width:100%; 
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    top: 0px;
    position: sticky;
}

.sticky-header a{
    /* border: 3px solid rgb(0, 109, 128); */
    text-decoration: none;
    color: black;
}

.sticky-header ul li{
    display: inline;
    margin: 0 1.2em;
}

.first-section-container{
    width: 50%;
    padding-top: 50vh;
}

.first-section-par{
    font-size: 3.5em;
    font-weight: 900;
    color: white;
    text-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.second-button{
   margin-top: 1em;
}
    /*SECOND SECTION*/

.second{
    height: 75em;
    background: rgb(201, 197, 197);
}

.wrapper-who{
    padding: 0 5.5em;
}

.who-we-are{
    height: 70em;
    background: white;
    transform: translateY(-5em);
    padding: 2em  0;
}

.who-we-are a img{
    height: 26em;
    width: 100%;
    background: gray;
    margin-bottom: 0;
}

.who-par{
    margin-bottom: 3em;
}

.element-section{
    margin-top: 3em;
}


.element-container{
    display: inline-flex;
}

.element{ 
    width: 33%;
    height: 9.25em;
    margin: 0 1.5em;
    display: inline-flex;
}

.element a img{
    width: 3em;
    height: 3em;
    margin-right: 1.8em;
}
                            
.element-title{
    font-size: 1.2em;
    font-weight: 700;
}
.element-par{
    margin-top: 1em;
    font-size: 1em;
}


/* IMG SECTION */

.img-section{
    height: 31em;
    background-image: url('../img/main-img.jpg');
    background-size: cover;
    background-position-y: bottom;
}

.img-par{
    font-weight: 900;
    font-size: 2.5em;
    /* padding: 10% 0 0 40%; */
}

 /*SERVICES SECTION */
.services{
    background: rgb(165, 165, 157);
}
.card-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1.5em;
 }

.card{
     
    text-align: center;
    align-items: center;
    height: 20em;
    padding: 1em;
    background: white;
}

.card:hover{
    box-shadow: 0px 17px 13px -3px rgba(16,15,15,0.75);
    transition: .5s;
}

.card-img{
    width: 4em;
    height: 4em;
    padding-top: 2em;
}

.card-title{
    padding: 1em 0;
}

.card-par{
    padding: 0 1.8em ;
}



.btn-container{
    padding: 3em 0;
    display: flex;
    justify-content: center;
}

    /* section SEND EMAIL */

.mail{
    display: grid;
    grid-template-columns: 50% 50%;
    height: 400px;
    padding: 4em;
}

.form{
    margin-top: 1.2em;
}

.form-send{
    display: grid;
    justify-content: center;
    text-align: center;
}

.form-send .input{
    width: calc(200px - 1.2em);
    height: 40px;
    margin: 5px;
    border:none;
    background: #F5F5F5;
    padding: 0 1.2em;
}
.form-send #text{
    width: calc(400px + 1.2em);
    height: 200px;
    margin: 5px;
    padding: 1.2em;
    border:none;
    background: #F5F5F5;
}

.actions-form{
    width: auto;
    text-align: end;
}
.btn:hover{
    cursor: pointer;
    background-color: #2EE59D;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-2px);
}

.mail-information{
    display: grid;
    justify-content: center;
    text-align: center;
    font-weight: 800;
    padding: 4em;
}

.mail-information .number-k{
    font-size: 10em;
}

.mail-information p{
    font-size: 1.3em;
}

.mail-title{
    font-size: 2.2em;
}

/*CLIENTS SECTION */

.clients{
    background: rgb(155, 145, 145);
    padding-bottom: 20em;
}
.client-container{
    display: inline-flex;
    align-items: center;
    padding-top: 4em;
}
.card-par{
    padding-top: 1em;
    text-align: justify;
    line-height : 1.5em;
}

.client-pic{
    background: red;
    width:2em;
    height:2em;
    border-radius:150px;
    border: none;
    margin-right: .5em;
}