*{
    padding: 0;
    margin:0;
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;

}

.wrapper{
    padding: 0 13em;
    border: 10px solid rgb(187, 255, 0);
    
}

.first-section{
    height: 50em;
    background: rgb(116, 102, 102);
}


/*HEADER*/

.first-header{
    height: 4em;
    width:75em; 
    border: 3px solid red;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.hours{
    width: 13em;
    height: 2.5em;
    border: 3px solid greenyellow;
    
}
.hours p{
    font-size: .8em;
}
.call-us{
    width: 13em;
    height: 2.5em;
    border: 3px solid blue;
}

.call-us p{
    font-size: .8em;
}
.appointment{
    width: 13em;
    height: 2.5em;
}

.sticky-header{
    height: 4em;
    width:75em; 
    border: 3px solid red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    position: sticky;
    top: 0;
}

.sticky-header nav{
    border: 3px solid rgb(0, 109, 128);
}

.sticky-header nav li{
    display: inline;
    margin: 0 1.2em;
}

.icons{
    border: 3px solid rgb(0, 109, 128);
}

.first-section-par{
    position: absolute;
    width: 583px;
    height: 112px;
    left: 210px;
    top: 280px;
    font-size: 3.5em;
}
.second-button{
    position: absolute;
    left: 14.58%;
    right: 70.76%;
    top: 33em;
    bottom: 93.34%;
}
/*SECOND SECTION*/

.second{
    height: 90em;
    background: rgb(224, 215, 215);
}

.wrapper-who{
    padding: 0 5.5em;
    border: 10px solid rgb(187, 255, 0);
    
}

.who-we-are{
    height: 51em;
    background: pink;
    margin-top: -5em;
}

.who-we-are a img{
    height: 26em;
    width: 53em;
    background: gray;
    margin-bottom: -7.5em;
}
