*{
    padding: 0;
    margin:0;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;

}

html{
    scroll-behavior: smooth;
}

:root{
    --bg-gray: rgb(228, 228, 228);
}

.small-title{
    font-size: .9em;
    color: #c16117;
    font-weight: 700;
}

.section-title{
    font-size: 1.8em;
    padding: 1.5em 0;
    width: 50%;
    font-weight: 800;
}

.wrapper{
    padding: 0 13em;
    /* border: 10px solid rgb(187, 255, 0); */
}

.first-section{
    height: 110vh;
    /* background: var(--bg-gray); */
    margin-top: -8em;
    background-image: url('../img/main-img.jpg');
    background-size: cover;
    background-position-y: bottom;
}


    /*HEADER*/
    .icon-mobile a{
        display: none;
    }

    .icon-hamburguer{
        display: none;
    }
    

    #menu{
        display: none;
    }
.first-header{
    height: 4em;
    width:100%; 
    /* border: 3px solid red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    font-weight: 600;
    /* background-color: black; */
}
.first-header .hours{
    width: 13em;
    height: 2.5em;
    /* border: 3px solid greenyellow; */
    
}
.first-header .hours p{
    font-size: .8em;
}
.first-header .call-us{
    width: 13em;
    height: 2.5em;
    /* border: 3px solid blue; */
}

.header-bg{
    background: rgba(0, 0, 0, 0.61);
    position: relative;
    /* opacity: 0.8; */

}

.logo{
    height: auto;
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
}

.logo img{
    margin-right: .5em;
}

.logo span{
    font-size: 1.5em;
}

.call-us p{
    font-size: .8em;
}

.btn-ref{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.btn{
    height: 2.5em !important;
    background-image: linear-gradient(to right top, #dd781c, #d4701a, #ca6819, #c16117, #b75915); ;
    border: none;
    color: white;
    border-radius: .2em;
    padding: 0 1em;
    font-weight: 500;
    text-transform: uppercase;
    font-weight: 500;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
}
nav{
    position: sticky;
    top: 0;
    font-size: 1.2em;
    font-weight: 600;
}
/* NAV ICON HAMBURGUER */
.container-icon {
    display: inline-block;
    cursor: pointer;
  }
  
  .bar1, .bar2, .bar3 {
    width: 30px;
    height: 3px;
    background-color: #441;
    margin: 5px 0;
    transition: 0.4s;
  }
  
  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-3px, 5px);
    transform: rotate(-45deg) translate(-4px, 3px);
  }
  
  .change .bar2 {opacity: 0;}
  
  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
  }
 /* // sticky  */
.sticky-header{
    z-index: 1;
    height: 4em;
    width:100%; 
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    top: 0px;
    position: sticky;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.45);
}

.sticky-header a{
    /* border: 3px solid rgb(0, 109, 128); */
    text-decoration: none;
    color: black;
}
.active{
    border-bottom: #b75915 solid 3px;
    transition: all 250ms;
}

.sticky-header a:hover{
    border-bottom: #b75915 solid 3px;
}
.sticky-header ul li{
    display: inline;
    margin: 0 1.2em;
}

.first-section-container{
    width: 60%;
    padding-top: 45vh;
}

.first-section-par{
    font-size: 3.5em;
    font-weight: 900;
    color: white;
    text-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.second-button{
   margin-top: 1em;
   max-width: 10em;
   /* padding: .5em; */
   /* margin-top: .5em; */
}
    /*SECOND SECTION*/

.second{
    /* height: 75em; */
    /* padding-bottom: 4em; */
    background: var(--bg-gray);
}

.wrapper-who{
    padding: 0 5.5em;
    border: #b75915 solid 1px;
}

.who-we-are{
    background: white;
    border: BLUE solid 2px;
    padding: 2em  0 8em 0;
}


.who-par{
    margin-bottom: 2em;
    line-height: 2em;
}

.element-section{
    margin-top: 2em;
    padding-top: 2em;
}

#commits{
    padding-bottom: 5em;
}

.element-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.element{ 
    width: 100%;
    height: 100%;
    /* margin: 0 1.5em; */
    display: inline-flex;
    margin-right: 3em;

}

.element img{
    width: 3em;
    height: 3em;
    margin-right: 1.8em;
}
                            
.element-title{
    font-size: 1.2em;
    font-weight: 700;
}
.element-par{
    margin-top: 1em;
    font-size: 1em;
    line-height: 1.8em;
    width: 90%;
}


/* IMG SECTION */

.img-section{
    height: 31em;
    background-image: url('../img/constructor2.jpg');
    background-size: cover;
    background-position-y: 40%;
    color: white;
    text-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    margin-bottom: -3em;
}
.container-img{
    transform: translateY(16em);
}
.container-img p{
    padding: .5em;
}

.img-par{
    font-weight: 900;
    font-size: 2.5em;
    /* padding: 10% 0 0 40%; */
}

 /*SERVICES SECTION */
.services{
    background: var(--bg-gray);
    padding-top: 1em;
}
.card-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1.5em;
    height: 100%;
 }

.card-padding{
    display: grid;
 height: 100%;
 /* border: solid purple 2px; */
}

.card{
     
    text-align: center;
    /* align-content: space-between;
    align-items: flex-start; */
    /* align-items: center; */
    justify-content: space-between;
    height: 20em;
    padding: 3em 1em;
    background: white;
    /* background-color: #c16117; */
}
.card:hover{
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.45);
    transition: .5s;
    cursor: pointer;
}


.card-title{
    padding: 1em 0;

    font-weight: 800;
    font-size: 1.2em;
}

.card-par{
    padding: 0 1.8em ;
}

.card-img{
    height: 3em;
    width: 3em;
}

.btn-container{
    padding: 3em 0;
    display: flex;
    justify-content: center;
}

    /* section SEND EMAIL */

.mail{
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 6em 0;

}

.form{
    margin-top: 2.2em;
    /* border: solid red 2px; */
    padding-bottom: 4em;
    
}

.form-send{
    display: grid;
    justify-content: center;
    text-align: center;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    /* max-width: 100%; */
    /* border: #b75915 solid 2px; */
    border-radius: 5px;
    padding-top: 2em;
}

.form-send input{
    height: 40px;
    border:none;
    background: #F5F5F5;
    padding: .5em;
    margin-top: 5px;
}

.form-grid{
    display: grid;
    justify-content: space-between;
    grid-template-columns: 50% 50%;
    /* background-color: red; */
    grid-gap: .5em;
    justify-content: center;
    padding: 0 .5em;
}

.form-send #text{
    /* width: calc(400px + 1.2em); */
    
    margin: 5px;
    padding: 1.2em;
    border:none;
    background: #F5F5F5;
    grid-column: 1/4;
}

.actions-form{
    width: auto;
    text-align: end;
}
.btn:hover{
    cursor: pointer;
    background-image: linear-gradient(to right top,#ff9c3e, #dd781c);
    box-shadow: 0px 15px 20px #b7591536;
    color: #000;
    transform: translateY(-2px);
    font-weight: 600;
}

.mail-information{
    display: grid;
    justify-content: center;
    text-align: center;
    font-weight: 800;
    padding: 4em;
}

.mail-information .number-k{
    font-size: 10em;
}

.mail-information p{
    font-size: 1.3em;
}

.mail-title{
    font-size: 2.2em;
    padding-top: .4em;
}

/*CLIENTS SECTION */

.clients{
    background: var(--bg-gray);
    padding-bottom: 20em;
}
.client-container{
    display: inline-block;
    margin-top: auto;
    align-items: center;
    /* background: red; */
    margin-bottom: 1em;
    justify-content: end;
    height: auto;
}
.card-par{
    padding-top: 1em;
    text-align: justify;
    line-height : 1.5em;
}

.client-pic{
    width:4em;
    height:4em;
    border-radius:150px;
    border: none;
    margin-right: .5em;
}

/*SECTION OUR IMPACT*/
.bg-last{

    color: white;
    background: url(../img/constructor1.jpg);
    background-size: cover;
    background-attachment: fixed;
    padding-top:3em;
    padding-bottom: 3em;
 
}
.bg-last-black{
   background-color: #000;
}

.element-title2{
    font-size: 2.5em;
    color: #e47915;
    font-weight: 700;
}
/* FOOTER */
footer{
    width: 100%;
}

.title-footer{
    font-weight: 700;
    font-size: 1.5em;
}

.footer-wrapper{
    padding: 3em 13em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.logo-container{
    display: flex;
    align-items: flex-end;
}
.logo-par{
    font-weight: 800;
    font-size: 1.4em;
    padding-left: .2em;
}

.footer-par{
    padding: 2em 0;
    line-height: 1.6em;
    font-size: .9em;
    width: 70%;
}

.icons-footer a img{
    padding-left: 1em;
    
}

.footer-center a{
    display: list-item;
    text-decoration: none;
     list-style: none;
     color: var(--graydark);
     margin-top: 1.5em;
     font-size:.9em;
}

.footer-center a:hover{
    color:#e47915;
}

.right-container{
    display: inline-flex;
    align-items: center;
    padding: 1em .5em;
    
}
.right-container img{
    height: 1em;
    width: 1em;
}
.contact-par{
    font-size: .8em;
    padding: 0 2.5em;

}

.bottom-section{
    padding: 1em 0;
    width: 100%;
    background: #e47915;
    color: white;
    align-items: center;
    text-align: center;
}

.bottom-section p{
    padding: 0;
}


@media screen and (max-width: 1260px){
   
    /*GENERALES*/
  .wrapper{
    padding: 0 2em;
    }


    .wrapper-who{
        padding: 2em;
    }

  .section-title{
    font-size: 1.4em;
    padding: 1.5em 0;
    width: 100%;
    font-weight: 800;
    }

    .first-section{
        height: 80vh;
    }

    .first-section-par{
    font-size: 3em;
    font-weight: 700;
    width: 100%;
    }

    /*HEADER*/
    
    .first-header .hours{
        width: 13em;
        /* border: 3px solid greenyellow; */
        
    }
    .first-header .hours p{
        font-size: .8em;
    }
    .first-header .call-us{
        width: 10%;
        /* border: 3px solid blue; */
    }
    

    #commits{
        padding-bottom: 1em;
    }


/*CARDS*/

    .first-section-container{
    width: 80%;
    padding-top: 35vh;
}


    .element-container{
        grid-template-columns:1fr 1fr;
        /* border: 3px solid red; */
        /* justify-content: center; */
        width: 100%;
        /* background-color: red; */
    }

    .element-par{
        margin-top: 1em;
        font-size: 1em;
        line-height: 1.8em;
        width: 100%;
    }

    .element{ 
        /* border: solid 2px #b75915; */
        display: flex;
        justify-content: center;
        width: 100%;
        padding-bottom: 3em;

        /* padding-left: 2.5em; */
    }

/* MAIL SECTION */  
    .mail{
        display: grid;
        grid-template-columns: 50% 50%;
    }
   
    .form-send{
        display: grid;
        justify-content: center;
        text-align: center;
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
        /* border: #b75915 solid 2px; */
        padding: 0;
        margin: 0;
        border-radius: 5px;
        padding-top: 2em;
        /* border: 3px solid rgb(56, 107, 41); */
    }
    
    .form-grid{
        display: grid;
        justify-content: space-between;
        grid-template-columns: 50% 50%;
        /* background-color: red; */
        max-width: 100vw;
        grid-gap: .5em;
        justify-content: center;
        padding: 0 1em;
        /* background: purple; */
    }
    
    .actions-form{
        width: auto;
        text-align: center;
    }
   
    .card-container{
        grid-template-columns: 1fr 1fr;
        
    }
  

    /*CLIENTS SECTION */

    .clients{
        padding-bottom: 15vh;
    }

/*FOOTER*/

.footer-wrapper{
    padding: 1em 2em;
    column-gap: 1em;
    grid-template-columns: 1fr 1fr 1fr;
}

.bottom-section{
    width: 100%;
    /* background: red; */

}

.bottom-section p{
    font-size: .8em;
}
.footer-left{
    margin: 0;
    padding: 0;
    justify-content: center;
    width: 100%;
    grid-column: 1/4;
}



.footer-par{
    padding: 1em 0;
    width: 100%;
}

.icons-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;

}
.icons-footer a img{
    padding: 0 .5em;
    margin: 0;
    margin-bottom: 2em;
}

.footer-center{
    margin: 0;
    padding: 0;
    grid-column: 1/2;
}


.footer-right{
    justify-content: center;
    grid-column: 2/3;
    padding: 0%;
    margin: 0%;
}
.right-container{
    
    padding: .8em 0em;
    
}

.contact-par{
    margin: 0;
    padding: 0;
    padding-left: .5em;
    width: 100%;
    
    
}

.contact-par p{
    margin: 0;
    padding: 0;
}


}

@media screen and (max-width: 860px){

/*HEADER*/

#nav ul{
    /* background-color: red; */
    position: fixed;
    left: 0;
    right: 0;
    opacity: .9;
    display: none;
    transition: all 350ms;
}

#menu:checked ~ #nav ul{
    display: flex;
}
.sticky-header ul{
    position: relative;
    width: 100%;
    top: 4em;
    height: calc(100vh - 4em);
    /* display: flex; */
    flex-direction: column;
    background-color: white;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    padding-top: 4em;
}
.sticky-header ul li{
    text-align: center;
    padding: 1em;
}

.sticky-header ul li a{
    font-size: 2em;
}
.icon-mobile a{
    display: flex;
    align-items: center;
}

.icon-hamburguer{
    display: flex;
}

.icon-mobile p{
    font-size: 1.5em;
    font-weight: 600;
    margin-left: .5em;
}
.header-bg{
    display: none;
}
    .card-container{
        grid-template-columns: 1fr;
    }
    

    
/* MAIL SECTION */  
.mail{
    display: grid;
    grid-template-columns: 100%;
    margin: 5%;
    justify-content: center;
}
.form{
    max-width: 100vw;
}

.form-send{
    display: grid;
    justify-content: center;
    text-align: center;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    /* border: #b75915 solid 2px; */
    padding: 0;
    margin: 0;
    border-radius: 5px;
    padding-top: 2em;
    /* border: 3px solid rgb(56, 107, 41); */
}

.form-grid{
    display: grid;
    justify-content: space-between;
    grid-template-columns: 40% 40%;
    /* background-color: red; */
    max-width: 100vw;
    grid-gap: .5em;
    justify-content: center;
    padding: 0 .5em;
    /* background: purple; */
}

.actions-form{
    width: auto;
    text-align: center;
}
}



@media screen and (max-width: 480px){
   
    /*GENERALES*/
  .wrapper{
    padding: 0.5em;
    }


    .wrapper-who{
        padding: 0.7em;
    }

  .section-title{
    font-size: 1.4em;
    padding: 1.5em 0;
    width: 100%;
    }

    .first-section-par{
    font-size: 2em;
    font-weight: 700;
    width: 100%;
    }

    
    .first-section{
        height: 50vh;
    }

    


    #commits{
        padding-bottom: 1em;
    }


/*CARDS*/
    .card-container{
    grid-template-columns: 1fr;
    }

    .card{
        height: 20em;
    }

    .first-section-container{
        width: 100%;
        text-align: center;
        justify-content: center;
        padding-top: 45vh;
    }
    .first-section-container .firt-action{
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }


    .element-container{
        grid-template-columns:1fr;
        /* border: 3px solid red; */
        /* justify-content: center; */
        width: 100%;
    }

    .element-par{
        margin-top: 1em;
        font-size: 1em;
        line-height: 1.8em;
        width: 100%;
    }

    .element{ 
        /* border: solid 2px #b75915; */
        display: flex;
        justify-content: center;
        width: 100%;
        padding-bottom: 3em;

        /* padding-left: 2.5em; */
    }

    /* MAIL SECTION  */

    .mail{
        margin: 0;
    }

    /*CLIENTS SECTION */
    
    .clients{
        padding-bottom: 3em;

    }
    .client-container{
        display: inline-block;
        margin-top: auto;
        align-items: center;
        /* background: red; */
        margin-bottom: 1em;
        justify-content: end;
        height: auto;
    }
    .card-par{
        padding-top: 1em;
        text-align: justify;
        line-height : 1.5em;
    }
    
    .client-pic{
        width:4em;
        height:4em;
        border-radius:150px;
        border: none;
        margin-right: .5em;
    }
    

/*FOOTER*/

.footer-wrapper{
    padding: 1em 2em;
    column-gap: 1em;
    grid-template-columns: 1fr 1fr;
}

.bottom-section{
    width: 100%;
    /* background: red; */

}

.footer-left{
    width: auto;
    background: red;
}

.bottom-section p{
    font-size: .8em;
}
.footer-left{
    margin: 0;
    padding: 0;
    justify-content: center;
    width: 100%;
    grid-column: 1/4;
}

.footer-par{
    padding: 1em 0;
    width: 100%;
}

.icons-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;

}
.icons-footer a img{
    padding: 0 .5em;
    margin: 0;
    margin-bottom: 2em;
}

.footer-center{
    margin: 0;
    padding: 0;
    grid-column: 1/2;
}


.footer-right{
    justify-content: center;
    grid-column: 2/3;
    padding: 0%;
    margin: 0%;
}
.right-container{
    
    padding: .8em 0em;
    
}

.contact-par{
    margin: 0;
    padding: 0;
    padding-left: .5em;
    width: 100%;
    
    
}

.contact-par p{
    margin: 0;
    padding: 0;
}


}

@media screen and (max-width: 340px){
    .first-section{
        height: 50vh;
    }
   
    
    /* section SEND EMAIL */

.mail{
    margin: 2em 0;
}


.form-send{
    padding-top: 1em;
}

.form-grid{
    display: grid;
        justify-content: space-between;
        grid-template-columns: 45% 45%;
        /* background-color: red; */
        max-width: 100vw;
        grid-gap: .5em;
        justify-content: center;
        padding: 0 .5em;
        /* background: purple; */
}

}



